<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleDisplayName</key><string>leadme-network Helper (Renderer)</string><key>CFBundleExecutable</key><string>leadme-network Helper (Renderer)</string><key>CFBundleIdentifier</key><string>com.lumination.leadme.qa.network.helper.Renderer</string><key>CFBundleName</key><string>Electron Helper (Renderer)</string><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleVersion</key><string>1.0.2.240</string><key>DTCompiler</key><string>com.apple.compilers.llvm.clang.1_0</string><key>DTSDKBuild</key><string>21E226</string><key>DTSDKName</key><string>macosx12.3</string><key>DTXcode</key><string>1341</string><key>DTXcodeBuild</key><string>13F100</string><key>LSEnvironment</key><dict><key>MallocNanoZone</key><string>0</string></dict><key>LSUIElement</key><true/><key>NSSupportsAutomaticGraphicsSwitching</key><true/></dict></plist>